 <nav>
    <ul class="nav nav-pills">  
       <li class="active">@Html.ActionLink("Home", "Index", "Demo")</li>  
       <li class="dropdown">  
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">DEMOs<b class="caret"></b></a>  
         <ul class="dropdown-menu">  
           <li>@Html.ActionLink("DataGrid demo", "DataGridDemo", "Demo")</li>  
           <li>@Html.ActionLink("Master-Details demo", "MasterDetailDemo", "Demo")</li>  
           <li>@Html.ActionLink("ManyToMany demo", "ManyToManyDemo", "Demo")</li>  
           <li>@Html.ActionLink("DataBinding demo", "BindingsDemo", "Demo")</li>  
           <li>@Html.ActionLink("Collections demo", "CollectionsDemo", "Demo")</li>  
           <li>@Html.ActionLink("Files and Folders browser demo", "BrowserDemo", "Demo")</li>
           <li>@Html.ActionLink("Single Page Application demo", "SPADemo", "Demo")</li>
        </ul>  
       </li>  
     </ul>  
 </nav>