@using System.Text
@using RIAPP.DataService
@using RIAppDemo.BLL.DataServices
@using RIAppDemo.Utils

@{
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}
@{
    ViewBag.Title = "Files and Folders browser Demo";
}

@section CssImport
{
   <link href="@Url.Content("~/Scripts/dynatree/src/skin/ui.dynatree.css", true)" rel="stylesheet" type="text/css" />
}

@section JSImport
{
    <script src="@Url.Content("~/Scripts/dynatree/src/jquery.dynatree.js", true)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RIAppDemo/common.js",true)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RIAppDemo/folderBrowserSvc.js",true)" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RIAppDemo/filesDemo.js",true)" type="text/javascript"></script>
}
<style type="text/css">
#demoHeader label
{
    color: Blue;
}

#demoContent
{
    overflow:visible; 
    height:600px;
    vertical-align:top;
    position:relative;
}

#tree
{
    height: 600px;
    overflow:visible;
    padding:5px;
}

#demoContent > fieldset {border-radius: 5px;}
#demoContent fieldset > legend {color:Blue; font-weight:bold;}
#demoContent .radioItem {display:inline-block; margin:4px; padding:4px;}

.stackPanelItem { width:170px;}
.stackPanelItem fieldset {border-radius: 5px;}
.stackPanelItem fieldset legend {color:Blue; font-weight:bold;}
</style>


<script type="text/javascript">
    (function(ops){
        ops.images_path = '@Url.Content("~/Scripts/jriapp/img/")';
        ops.service_url = '@Url.RouteUrl("Default",new {controller="FolderBrowserService", action=""})';
        ops.permissionInfo =  @Html.Action("PermissionsInfo", "FolderBrowserService");
    })(RIAPP.FILESDEMO.mainOptions);
</script>

<h2 style="display:inline-block;">@ViewBag.Title</h2>

<!--using dataform is convenient because it set datacontext scope for all its content-->
<div id="demoContent">
   <a class="btn btn-info btn-small" style="margin:5px 5px 5px 0px;" data-bind="{this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM1}">Open folder browser</a>
   <a class="btn btn-info btn-small" style="margin:5px 5px 5px 0px;" data-bind="{this.command,to=dialogCommand,mode=OneWay,source=fbrowserVM2}">Open file browser</a>
</div>

@section RiaTemplates
{
   <div id="treeTemplate" data-role="template" style="width: 95%; height:100%; margin:4px;">
      <div data-name="tree" style="height:95%;"></div>
      <span style="position:absolute;left:15px;bottom:5px;font-weight:bold;font-size:10px;color:Blue;" data-bind="{this.text,to=selectedItem.fullPath,mode=OneWay}"></span>
  </div>
}